.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  max-width: 350px;

  .message-container {
    display: flex;
    gap: 15px;
    background-color: rgba(15, 23, 42, 0.85);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(232, 233, 235, 1);
    animation: slideIn 0.3s ease;
    width: 350px;
    height: 70px;

    .envelope {
      width: 40px;
      height: 40px;
      margin: 15px auto 15px 15px; 
    };

    .message-content {
      display: flex;
      flex-direction: column;
      flex: 1;

      .title {
        margin-top: 15px;
        line-height: 20px;
        letter-spacing: 0%;
        width: 65px;
        height: 20px;
        opacity: 1;
      };

      .text {
        width: 253;
        height: 20;
        opacity: 1;
      };
    };

    .message-close-icon {
      margin: 7px 7px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      flex-shrink: 0;
    };

    @keyframes slideIn {
      0% {
        transform: translateX(120%) scale(0.8);
        opacity: 0;
      }
      100% {
        transform: translateX(0) scale(1);
        opacity: 1;
      };
    };
  };
};