* {
  box-sizing: border-box;
};

@mixin base-justify {
  display: flex;
  justify-content: center;
}

.loader-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;

  &__icon {
    width: 100%;
    height: 100%;
    animation: rotate-loader 1.5s linear infinite; 
  }
}

@keyframes rotate-loader {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}


header {
  position: relative;
  width: 100%;
  background-color: rgba(24, 18, 30, 0.5);
  height: 120px;
  @include base-justify;
  align-items: center;
  z-index: 1000;
  gap: 20px;
  
    .logotip {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 132px;
    };

    .firm-logo {
      margin: 0 auto;
      text-transform: uppercase;
      text-align: justify;
      letter-spacing: 7px;
    };

    .header-info {
      display: flex;
      gap: 130px;
      align-items: center;
    };

    #consultation-btn {
      background-color: var(--white-color);
      border-radius: 5px;
      height: 44px;
      width: 158px;
      border: none;
      cursor: pointer;
    };

    .nav-wrapper {
      display: inline-flex;
      justify-content:space-around; 
      align-items: center;
      gap: 23px;
      height: 25px;
      width: 625px;
      line-height: 100%;
      cursor: pointer;
        
        a {
          color: var(--white-color);
          text-decoration: none;
        };

    .current-date {
      position: absolute;
      top: 52px;
      right: 350px;
    };

    .show-task-btn {
      background-color: var(--white-color);
      border-radius: 5px;
      height: 44px;
      width: 158px;
      border: none;
      cursor: pointer;
    }
    };
  
    .click-counter {
      @include base-justify;
      align-items: center;
      gap: 5px;
    };

    .live-input {
      @include base-justify;
      flex-direction: column;
      gap: 10px;
    }
};

.main-info {
  @include base-justify;
  align-items: end;
  height: 985px;

  .banner {
    background-image: url('/background/mountains-main.png');
    height: 985px;
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -1;
  };

  &-title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title{
      font-weight: 400;
      font-size: 50px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
    };

    .tour-selection {
      @include base-justify;
      align-items: center;
      gap: 24px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      height: 161px;
      margin-bottom: 82px;
      backdrop-filter: blur(6px);

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .form-control {
          width: 270px;
          height: 52px;
          border: 1px solid rgba(253, 253, 253, 0.4);
          padding: 5px;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.2);
          color: var(--white-color);
          cursor: pointer;

            &::placeholder {
             color: var(--white-color);
            };
            
            option {
              color: var(--black-color);
              cursor: pointer;
              cursor: pointer;
            };
          
            .calendar-wrapper {
              position: relative;
            };
        };

        .calendar-wrapper {
          position: relative;
        };

        .calendar-wrapper::after {
          content: "";
          position: absolute;
          right: 18px;
          top: 16px;
          width: 18px;
          height: 18px;
          pointer-events: none;
          background-image: url('/images/date-icon.svg');
          background-repeat: no-repeat;
          background-size: contain;
        };

        input[type="date"]::-webkit-calendar-picker-indicator {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          color: transparent;
          background: transparent;
        };

        input[type="date"]::-moz-calendar-picker-indicator {
          opacity: 0;
        };
       
        .label-text {
          color: var(--white-color);
          padding-left: 8px;
        };
      };

      .find-program-btn {
        display:block;
        margin-bottom: 25px;
        width: 213px;
        height: 52px;
        border-radius: 4px;
        cursor: pointer;
        cursor: pointer;
      };
    };
  };
};

.about-hike {
  display: flex;
  height: 726px;
  
  &-container {
    height: 526px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  };

  .about-hike-images {
    position: relative;
    width: 480px;
    height: 526px;

    .mountаin-for-hike {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    };

    .house-in-mountаins {
      position: absolute;
      background-image: url(/images/house-in-mountаins.png);
      width: 350px;
      height: 400px;
      bottom: 0;
      right: 0;

      .circle-for-play,
      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      };

      .circle-for-play {
        max-width: 100%;
        max-height: 100%;
        z-index: 0;
      };

      .play-btn {
        max-width: 100%;
        max-height: 100%;
        z-index: 1;
        cursor: pointer;
      };
    };
  };

  .hike-info {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px auto ;
    min-width: 580px;
    height: 398px;

    .hike-title {
      display:block;
      margin: 0;
      line-height: 20px;
    };

    .hike-subtitle {
      margin: 8px auto 40px 0;
      line-height: 120%;
      letter-spacing: 0px;
    };

    .hike-description {
      margin-bottom: 40px;
      line-height: 150%;
    };

    .tour-program-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 52px;
      border-radius: 4px;
      cursor: pointer;
    };
  };
};

.best-tour-programs {
  @include base-justify;
  justify-self:center;
  background-color: #F3F5F4;
  width: 100%;
  height: 771px;
  gap: 90px;

  .programs-info {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 580px;
    max-height: 591px;
    top: 80px;

    .programs-title {
      display:block;
      margin: 0;
      line-height: 20px;
    };

    .programs-subtitle {
      margin: 8px auto 40px 0;
      line-height: 120%;
      letter-spacing: 0px;
    };

    .programs-description {
      margin-bottom: 40px;
      line-height: 150%;
    };

    .program-features-list {
      @include base-justify;
      flex-direction: column;
      gap: 40px;

      .features {
        @include base-justify;
        align-items: center;
        gap: 16px;
        cursor: pointer;
      }

      .active-feature {
        background-color: rgba(94, 156, 66, 0.4);
        border: 1px solid #b4133c;
      }

      .features-info {
        @include base-justify;
        flex-direction: column;
        gap: 4px;

        &-title {
          margin: 0;
          line-height: 20px;
        }

        &-description {
          margin: 0;
          line-height: 20px;
          color: #000000;

        }
      }
    }

    .program-price-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 236px;
      height: 52px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .program-features-images {
    @include base-justify;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 510px;
    max-height: 510px;
    margin-top: 120px;
    cursor: pointer;
  }
}