@use './fonts';
@use './normalize';

*{
  font-family: 'nunito-sans';
};

.container {
  display: block;
  width: 1180px;
};

:root {
  --white-color: rgba(253, 253, 253, 1);
  --secondary-color: #F2BE22;
  --black-color: #18121E;
;
  --btn-color: rgba(26, 62, 62, 1);
};

.white-text {
  color: var(--white-color);
};

.black-text {
  color: var(--black-color);
};

.secondary-color {
  color: var(--secondary-color);
};

.button-values {
  background-color: var(--btn-color);
  color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
};

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.semi-bold {
  font-weight: 600;
};

.bold {
  font-weight: 700;
};

.extra-bold {
  font-weight: 800;
};

.fs-14 {
  font-size: 14px;
};

.fs-16 {
  font-size: 16px;
};

.fs-18 {
  font-size: 18px;
};

.fs-24 {
  font-size: 24px;
};

.fs-26 {
  font-size: 26px;
};

.fs-32 {
  font-size: 32px;
};