* {
  display: flex;
  width: 100%;
  min-height: 800px;
  background-color: rgb(245, 242, 242);
  color: rgb(20, 20, 20);
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin-bottom: -100px;
} 